/* 背景画像 */
.background{
  background-size: cover;
  padding-bottom: 20px;
}
/* 背景画像end */
/* devise */
.contents{
  height: 100vh;
}
.new_user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.container h2{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.field{
  height: 86px;
  width: 500px;
}
.field input{
  height: 40px;
  width: 500px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}
.actions{
  text-align: center;
}
.actions input{
  border-radius: 5px;
  border: 1px solid #808080;
  width: 70px;
  height: 32px;
}
input[type=checkbox] {
  transform: scale(0.3);
  visibility:hidden;
}
label[for=user_remember_me]{
  visibility:hidden;
}
/* header */
.header_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0F0;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.title {
  width: 300px;
  height: 60px;
  margin-top: 10px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.user_link {
  color: #0FF;
  width: 50vw;
  text-align: right;
  margin: auto;
  align-items: right;
}
.user_link a{
  text-decoration: none;
}
.header-menu{
  color: #0FF;
  width: 300px;
  text-align: right;
  margin: auto;
  }
.post{
  padding: 5px;
  }
  /* headerend */
  /* miniblog */
.index{
  display: flex;
  justify-content: center;
}
.content{
  margin: 10px auto;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 60vw;
  background-color: #FFFFEE;
  padding-bottom: 10px;
}
.miniblog-nickname{
  margin-left: 70px;
  margin-bottom: 0px;
  }
.miniblog-title{
  margin-top: 10px;
  margin-left: 70px;
  }
.miniblog-text{
   margin-left: 70px;
   margin-right: 70px;
  }
.miniblog-menu{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  }
.miniblog-menu-item{
  margin-right: 20px;
  margin-top: 10px;
  }
.menu-item-btn{
  border-radius: 5px;
  border: 1px solid #808080;
  font-weight: bold;
  padding: 5px 15px;
  }
.form-infomation{
  text-align: center;
  }
.image-compare{
  display: flex;
  justify-content: center;
  text-align: center;
}
.image-compare img{
  margin: 0 20px;

}
.before{
  margin-right: 100px;
}
.delete-btn{
  border-radius: 5px;
  border: 1px solid #808080;
  width: 50px;
  height: 25px;
  }
.edit-btn{
  border-radius: 5px;
  border: 1px solid #808080;
  width: 50px;
  height: 25px;
  }
.pagination{
  margin-top: 10px;
  height: 40px;
  text-align: center;
}
.pagination span{
  height: 20px;
  font-size: 20px;
}
/* miniblogend */
/* 投稿フォーム */
h3{
  text-align: center;
  font-size: 25px;
}
.image-list{
  display: flex;
}
.image-list img {
  height: 80px;
  width: 150px;
}
.image-element{
  height: 350px;
  width: 400px;
}
textarea{
  width: 500px;
  height:250px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 16px;
  }
.miniblog-new{
  height: 130vh;
  background-size: cover;
}
.miniblog-new-form{
  display: flex;
  justify-content: center;
}
.input-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-title{
  display: block;
  height: 30px;
  margin-top: 10px;
  }
.form-text{
  display: block;
  margin: 10px 0;
  
  }
.form-btn-contents{
  text-align: center;
}
.form-btn{
  width: 20vw;
  text-align: center;
  }
.back-btn{
  display: block;
}
/* 投稿フォームend */
/* 詳細 */
.content-show{
  margin-left : auto ; 
  margin-right : auto ;
  margin-top: 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 60vw;
  background-color: #FFFFEE;
  padding-bottom: 10px;
}
.miniblog-nickname-info{
  margin-left: 70px;
  font-weight: bold;
}
.miniblog-nickname-show{
  margin-left: 70px;
}
.miniblog-title-info{
  margin-top: 10px;
  margin-left: 70px;
  font-weight: bold;
}
.miniblog-title-show{
  margin-left: 70px;
}
.miniblog-text-info{
  margin-top: 10px;
  font-weight: bold; 
}
.comments-space{
  height:300px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.home{
  text-align: center;
}
.back-btn{
  text-decoration: none;
  font-size: 20px;
}
/* 詳細end */
/* 編集フォーム */
.edit-info form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.edit-info h3{
  text-align: center;
  font-size: 25px;
}
.img-upload img{
  height: 300px;
  width: 300px;
}
.miniblog-edit-title{
  text-align: center;
}
.miniblog-edit-text{
  text-align: center;
}
.image-info{
  margin-top: 10px;
}
/* 編集フォームend */
/* マイページ */
.mypage-content{
  height: 160vh;
  margin-top: 10px;
}
.mypage{
  text-align: center;
  height: 30px;
  font-size: 30px;
  margin-bottom: 20px;
}
.back-btn{
  text-align: center;
}
/* マイページend */
/* コメント機能 */
.show-comments{
  display: flex;
  justify-content: center;
}
.comments-space{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #dddddd;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 60vw;
}
.comments-list{
  margin-left: 150px;
}
.comments-list h4{
  margin-bottom: 10px;
}
.comments{
  margin-left: 150px;
}
.comments form textarea{
  height: 40px;
  width: 40vw;
}
.comments form input[type=submit] {
  border-radius: 5px;
  border: 1px solid #808080;
  width: 50px;
  height: 25px;
}
/* コメント機能end */
/* いいね機能 */
.like-count{
  text-align: center;
}
.like-btn{
  text-align: center;
}
.unlike{
  color: #f9e900;
}
.like{
  color: #dddddd;
}
.miniblog-like{
  margin-top: 10px;
  margin-left: 70px;
}
/* いいね機能end */
/* ランキング機能 */
.ranking-space{
  background-color: #dddddd;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 10px;
  width: 25vw;
}
.ranking-space h4{
  text-align: center;
  font-weight: bold;
}
.ranking-miniblog{
  background-color: #FFFFEE;
  margin: 10px 10px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-bottom: 10px;
}
.button_to{
  text-align: right;
}
.ranking-edit-btn{
  border-radius: 5px;
  border: 1px solid #808080;
  width: 50px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}
/* ランキング機能end */